.div,
.icons16px {
  position: relative;
}
.div {
  flex: 1;
  font-weight: 600;
  display: inline-block;
}
.icons16px {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.list,
.nameFilter {
  display: flex;
  justify-content: flex-start;
}
.nameFilter {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 278px;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-xs);
}
.list {
  flex: 1;
  background-color: var(--white-ffffff);
  height: 224px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-md);
}
.rectangleDiv,
.slider {
  border-radius: var(--br-xs);
}
.rectangleDiv {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--gray-a5a7b2);
  height: 32px;
}
.slider {
  align-self: stretch;
  position: relative;
  background-color: var(--gray-eef0f61);
  width: 3px;
  flex-shrink: 0;
  overflow: hidden;
}
.filterLists {
  position: absolute;
  top: 45px;
  left: 16px;
  border-radius: var(--br-xl);
  width: 278px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  color: var(--gray-52545c);
}
.rectangleDiv1 {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(0deg, #fff, rgba(255, 255, 255, 0));
  height: 33px;
}
.filter {
  position: relative;
  border-radius: var(--br-md);
  background-color: var(--white-ffffff);
  width: 310px;
  height: 296px;
  flex-shrink: 0;
  overflow: hidden;
  text-align: left;
  font-size: var(--exo-2-14-size);
  color: var(--black-000000);
  font-family: var(--exo-2-24-regular);
}
