.div,
.icons16px {
  position: relative;
}
.icons16px {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.div {
  font-size: var(--exo-2-14-regular1-size);
  font-weight: 600;
  font-family: var(--exo-2-24-regular1);
  color: var(--blue-007aff1);
  text-align: center;
  display: inline-block;
}
.button {
  cursor: pointer;
  border: 1px solid var(--blue-007aff1);
  padding: var(--padding-2xs) var(--padding-lg);
  background-color: transparent;
  align-self: stretch;
  border-radius: var(--br-md);
  box-sizing: border-box;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button:hover {
  border: 1px solid var(--blue-0068d9);
  box-sizing: border-box;
}
.button,
.filter2 {
  gap: var(--gap-xs);
}
.filter,
.filter1,
.filter2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.filter {
  box-shadow: 0 2px 12px rgba(68, 48, 95, 0.05);
  width: 310px;
  flex-shrink: 0;
  gap: var(--gap-lg);
  text-align: left;
  font-size: var(--exo-2-14-regular1-size);
  color: var(--black-0000001);
  font-family: var(--exo-2-24-regular1);
}
@media screen and (max-width: 768px) {
  .button {
    display: flex;
  }
}
@media screen and (max-width: 428px) {
  .button {
    display: flex;
  }
}
@media screen and (max-width: 1024px) {
  .button {
    display: flex;
  }
  .filter,
  .filter1 {
    display: none;
  }
}
