.vKO {
  align-self: stretch;
  position: relative;
  font-size: var(--exo-2-14-size);
  font-family: var(--exo-2-24-regular);
  color: var(--gray-81838e1);
  text-align: left;
  display: inline-block;
}
