.vectorIcon,
.vectorIcon1 {
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 14px;
}
.vectorIcon1 {
  height: 14.73px;
}
.line {
  flex: 1;
  display: flex;
  flex-direction: row;
  padding: var(--padding-4xl) 0 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-0);
}
@media screen and (max-width: 768px) {
  .line {
    display: none;
  }
}
