.div,
.div1 {
  align-self: stretch;
  position: relative;
  display: inline-block;
}
.div {
  font-weight: 600;
}
.div1 {
  font-size: var(--exo-2-16-medium1-size);
  color: var(--gray-52545c);
}
.headingsubtitle {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  text-align: center;
  font-size: var(--exo-2-24-regular1-size);
  color: var(--black-000000);
  font-family: var(--exo-2-24-regular1);
}
