.div,
.div1 {
  align-self: stretch;
  position: relative;
  display: inline-block;
}
.div {
  font-weight: 600;
}
.div1 {
  font-size: var(--exo-2-12-size);
  color: var(--gray-a5a7b2);
}
.subtitleheading {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-3xs);
}
.field {
  flex: 1;
  background-color: var(--white-ffffff);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.icons16px {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 16px;
  height: 16px;
}
.div2,
.scrollArrow {
  position: relative;
  flex-shrink: 0;
}
.scrollArrow {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--gray-f3f4fb1);
  border-radius: var(--br-xl);
  width: 32px;
  height: 32px;
  overflow: hidden;
}
.scrollArrow:hover {
  background-color: var(--color-gray-300);
}
.div2 {
  font-weight: 600;
  display: inline-block;
  width: 28px;
}
.passengers,
.quantity {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.quantity {
  background-color: var(--white-ffffff);
  width: 100px;
  flex-shrink: 0;
  align-items: center;
  gap: var(--gap-2xs);
  text-align: center;
}
.passengers {
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-xs);
  text-align: left;
  font-size: var(--exo-2-14-size);
  color: var(--black-000000);
  font-family: var(--exo-2-24-regular);
}
@media screen and (max-width: 768px) {
  .scrollArrow {
    display: none;
  }
}
