.waytimeavia {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0 var(--padding-lg) 0 0;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.rectangleDiv {
  align-self: stretch;
  position: relative;
  background-color: var(--gray-eef0f61);
  width: 1px;
  flex-shrink: 0;
}
.pricebutton,
.ticket {
  display: flex;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.pricebutton {
  width: 184px;
  flex-shrink: 0;
  flex-direction: column;
  padding: 0 0 0 var(--padding-lg);
  gap: var(--gap-sm);
  font-size: var(--exo-2-20-semibold1-size);
}
.ticket {
  align-self: stretch;
  border-radius: var(--br-md);
  background-color: var(--white-ffffff1);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-lg);
  gap: var(--gap-0);
  text-align: left;
  font-size: var(--exo-2-12-semibold1-size);
  color: var(--black-0000001);
  font-family: var(--exo-2-24-regular1);
}
@media screen and (max-width: 768px) {
  .waytimeavia {
    padding-right: 0;
    padding-bottom: var(--padding-xs);
    box-sizing: border-box;
    flex: unset;
    align-self: stretch;
  }
  .rectangleDiv {
    display: flex;
    height: 1px;
    width: 100%;
  }
  .pricebutton {
    flex-direction: row;
    padding-left: 0;
    padding-top: var(--padding-xs);
    box-sizing: border-box;
    width: 100%;
  }
  .ticket {
    flex-direction: column;
    padding: var(--padding-xs);
    box-sizing: border-box;
  }
}
