.container {
  position: relative;

  .list {
    flex: 1;
    background-color: var(--white-ffffff);
    height: 224px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-md);
    overflow-y: scroll;
    padding-bottom: 20px;

    &::-webkit-scrollbar {
      background-color: var(--gray-eef0f61);
      width: 3px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--gray-a5a7b2);
      border-radius: 3px;
    }
  }

  .shade {
    position: absolute;
    width: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(0deg, #fff, rgba(255, 255, 255, 0));
    height: 33px;
  }
}
