.div {
  position: relative;
  display: inline-block;
  width: 139px;
}
.group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
  text-align: left;
  font-size: var(--exo-2-12-size);
  color: var(--gray-a5a7b2);
  font-family: var(--exo-2-24-regular);
}
