@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  line-height: normal;
  font-family: var(--exo-2-24-regular1);
}
:root {
  /* fonts */
  --exo-2-24-regular1: 'Exo 2';

  /* font sizes */
  --exo-2-12-semibold1-size: 12px;
  --exo-2-14-regular1-size: 14px;
  --exo-2-16-medium1-size: 16px;
  --exo-2-20-semibold1-size: 20px;
  --exo-2-24-regular1-size: 24px;

  /* Colors */
  --blue-007aff1: #007aff;
  --blue-0068d9: #0068d9;
  --blue-bfdeff: #bfdeff;
  --blue-e5f2ff: #e5f2ff;

  --gray-33343a: #33343a;
  --gray-52545c: #52545c;
  --gray-81838e1: #81838e;
  --gray-a5a7b2: #a5a7b2;
  --gray-d5d7e2: #d5d7e2;
  --gray-eef0f61: #eef0f6;
  --gray-f3f4fb1: #f3f4fb;

  --red-ff3d00: #ff3d00;
  --orange-ffa620: #ffa620;
  --red-60b56e: #60b56e;

  --color-gray-300: #e6e8f1;
  --color-gray-1100: rgba(255, 255, 255, 0.4);
  --color-gray-1200: rgba(255, 255, 255, 0.2);

  --white-ffffff: #fff;
  --black-222222: #222;
  --black-000000: #000;

  /* Gaps */
  --gap-0: 0px;
  --gap-3xs: 2px;
  --gap-2xs: 4px;
  --gap-xs: 8px;
  --gap-sm: 12px;
  --gap-md: 13px;
  --gap-lg: 16px;
  --gap-xl: 24px;
  --gap-2xl: 32px;
  --gap-3xl: 40px;
  --gap-4xl: 119px;

  /* Paddings */
  --padding-6xs: 4px;
  --padding-5xs: 6px;
  --padding-4xs: 8px;
  --padding-3xs: 10px;
  --padding-2xs: 12px;
  --padding-xs: 16px;
  --padding-sm: 18px;
  --padding-md: 20px;
  --padding-lg: 24px;
  --padding-xl: 32px;
  --padding-2xl: 40px;
  --padding-3xl: 48px;
  --padding-4xl: 58px;
  --padding-5xl: 64px;
  --padding-6xl: 144px;

  /* border radiuses */
  --br-2xs: 1px;
  --br-xs: 2px;
  --br-sm: 4px;
  --br-md: 8px;
  --br-lg: 12px;
  --br-xl: 16px;
  --br-2xl: 24px;

  /* Effects */
  --window2: 0px 4px 12px rgba(0, 0, 0, 0.16);
  --sh-tag-map1: 0px 3px 8px rgba(0, 0, 0, 0.3);
  --search-field: 0px 4px 12px rgba(0, 0, 0, 0.1);
}
